Repository Enalmada/npm-module-template: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, lint

lefthook.yml:

pre-commit:
  parallel: true
  skip:
    - run: test "$CI" = "true"
      reason: "Skipping hooks in CI environment"
  commands:
    type-check:
      glob: "**/*.{ts,tsx}"
      run: bun run type-check
      fail_text: "❌ TypeScript errors found! Run 'bun run type-check' to see details."

    lint:
      glob: "**/*.{js,ts,cjs,mjs,jsx,tsx,json}"
      run: biome check --fix --unsafe {staged_files}
      stage_fixed: true
      fail_text: "❌ Linting errors found! Most have been auto-fixed. Please review the changes and commit again."

    package-fix:
      files: git diff --cached --name-only --diff-filter=ACM package.json
      run: npm pkg fix && fixpack
      fail_text: "❌ package.json format issues! Run 'npm pkg fix && fixpack' to fix."

chore: add docs/session to gitignore for temporary working notes
  .gitignore
  docs/session/upgrades.md
Due: none

fix: update test script to call test:unit directly
  package.json
Due: none

fix: add build task to turbo.json and upgrade Node.js requirement
  package.json
  turbo.json
Due: none

update lefthook
  lefthook.yml
Due: none

fix: update website dependencies for Starlight v0.33+ and Tailwind v4
  website/astro.config.mjs
  website/bun.lockb
  website/package.json
  website/postcss.config.mjs
Due: lint

ci: add Biome and type-check GitHub Actions workflows
  .github/workflows/biome.yml
  .github/workflows/check-types.yml
Due: none

feat: modernize template with production-grade improvements (#163)
  .changeset/config.json
  .changeset/major-config-improvements.md
  .github/workflows/biome.yml
  .github/workflows/check-types.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.js
  CLAUDE.md
  LICENSE
  README.md
  biome.json
  biome.jsonc
  bun.lockb
  dist/index.d.ts
  dist/index.js
  lefthook.yml
  package.json
  renovate.json
  tsconfig.json
  turbo.json
  vitest.config.ts
  website/astro.config.mjs
  website/bun.lockb
  website/package.json
  website/postcss.config.mjs
  website/src/assets/landing.css
Due: type-check, lint

updates
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  biome.jsonc
  bun.lockb
  package.json
Due: none

feat: add publint validation and fix test command
  .changeset/young-moose-stop.md
  bun.lockb
  package.json
  turbo.json
Due: none

feat: add publint validation and dependency updates (#168)
  .changeset/young-moose-stop.md
  .husky/_/pre-commit
  .husky/_/prepare-commit-msg
  biome.jsonc
  bun.lockb
  package.json
  turbo.json
Due: none
